.blocPage {
  padding: 0;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.siteHeader {
  flex-wrap: wrap;
  align-items: center;
}

.siteHeader__logo {
  order: 1;
  margin: 15px 0 0px 15px;
}

.siteHeader__subscribeLink {
  order: 2;
  margin-left: auto;
  margin-top: 20px;
}

.headerNav {
  order: 3;
}

.headerNav,
.headerNav__list,
.headerNav__list > li,
.headerNav__list a {
  width: 100%;
}

.headerNav__list a,
.siteHeader__subscribeLink,
.siteHeader__logo {
  padding-top: 0;
}

.headerNav__list {
  padding: 0;
  justify-content: space-around;
}

.headerNav__list a{
  padding-bottom: 12px;
  display: block;
  border-top: none;
  border-bottom: 2px solid #f2f2f2;
}

.headerNav__list a:hover {
  border-top: none;
  border-bottom: 2px solid #0065fc;
}
/*________________________FIN HEADER________________________FIN HEADER________________________FIN HEADER________________________*/

/*°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°°*/
.searchForm {
  margin: 20px 50px 0 15px;
}

.inputBar {
  width: 280px;
}

.inputBar > input {
  width: 178px;
}

.inputBar__searchButton--big {
  display: none;
}

.inputBar__searchButton--small {
  display: block;
}
/*___________FIN FORMULAIRE DE RECHERCHE___________FIN FORMULAIRE DE RECHERCHE___________FIN FORMULAIRE DE RECHERCHE___________*/

/*°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.filtersContainer {
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 15px;
}

.filtersContainer > h2 {
  margin: 30px 0 0 0;
}

.filtersList {
  padding: 0;
  flex-wrap: wrap;
  width: 100%;
}

.filter {
  margin: 0 15px 10px 0;
}

.filtersInfo {
  margin: 0 10px 20px 0;
  align-items: flex-start;
}

.filtersInfo > p {
  margin-top: 3px;
}
/*_______________________FIN FILTRES_______________________FIN FILTRES_______________________FIN FILTRES_______________________*/

/*..........Propriétés générales concernant la mise en forme des cartes hébergements et activités...........*/
.card {  /*La balise <a> (lien) étant le conteneur de chaque carte, c'est elle qui régit la mise en forme globale de la carte*/
  width: 90%;
  max-width: 400px;
  min-width: 220px;
  margin-bottom: 30px;
}
/*...........................................................................................................*/

/*°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°°*/
.accomodations {
  flex-direction: column;
  align-items: center;
}

.popularAccomodations {
  order: 1;
  padding-bottom: 20px;
  width: 100%;
  border-radius: unset;
}

.popularAccomodations__headline {
  width: 90%;
  margin: 48px auto 22px auto;
}

.popularAccomodationsCard{
  height: 150px;
}

.accomodationsMainBlock {
  order: 2;
  width: 100%;
  background-color: white;
}

.accomodationsMainBlock > h2 {
  margin-left: 20px;
}

.accomodationsMainBlockCardsContainer{
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.accomodationsMainBlock__showMore {
  margin-left: 15px;
}
/*____________________FIN HEBERGEMENTS____________________FIN HEBERGEMENTS____________________FIN HEBERGEMENTS___________________*/

/*°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.activities__headline {
  margin-left: 15px;
}

.activitiesCardsContainer {
  width: 100%;
  height: auto;
  align-content: center;
}

.activityCard{
  height: 190px;
}
/*______________________FIN ACTIVITES______________________FIN ACTIVITES______________________FIN ACTIVITES_____________________*/

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.siteFooter {
  height: auto;
  margin-top: 20px;
}

.footerMenusContainer {
  flex-direction: column;
  padding: 30px 0 30px 5px;
}

.footerMenu {
  margin: 0;
}
/*________________________FIN FOOTER________________________FIN FOOTER________________________FIN FOOTER_______________________*/