body {
  font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
}

.blocPage {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  max-width: 1300px;
  min-width: 320px;
}

/*............Propriétés communes à toutes les balises <a> (liens) de la page..........*/
a {
  color: inherit;
  text-decoration: none;
}
/*.....................................................................................*/

/*...Propriétés communes à toutes les balises <ul> (listes non ordonnées) de la page...*/
ul { 
  display: flex;
  list-style-type: none;
}
/*.....................................................................................*/

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.siteHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.siteHeader__logo {
  margin-top: 30px;
  margin-right: auto;
}

.headerNav__list a,
.siteHeader__subscribeLink {
  display: block;
  width: 140px;
  text-align: center;
  border-top: 2px solid #FFFFFF;
  padding-top: 30px;
}

.siteHeader__subscribeLink {
  margin-top: 15px;
  color: #0065fc;
  font-weight: 800;
}

.headerNav__list a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
/*________________________FIN HEADER________________________FIN HEADER________________________FIN HEADER________________________*/

/*°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°°*/
.searchForm > h1 {
  font-size: 1.3em;
  margin-bottom: 0;
}

.searchForm > p {
  font-size: 0.9em;
  margin: 7px 0 17px 0;
}

.inputBar{
  display: flex;
  align-items: center;
  height: 44px;
  width: 360px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  border-right: none;
}

.inputBar__icone {
  background-color: #f2f2f2;
  min-width: 46px;
  line-height: 44px;
  font-size: 20px;
  text-align: center;
  border-radius: 15px 0 0 15px;
}

.inputBar > input,
.inputBar__searchButton {
  outline: none;
  border: none;
  font: inherit;
}

.inputBar > input {
  font-weight: 800;
  padding-left: 15px;
}

.inputBar > input::placeholder {
  color: #000000;
  opacity: 1;
}

.inputBar__searchButton {
  height: 46px;
  background-color: #0065fc;
  color: #FFFFFF;
  font-weight: 600;
  padding: 0 18px;
  cursor: pointer;
}

.inputBar__searchButton--big {
  width: 135px;
  border-radius: 0 15px 15px 0;
}

.inputBar__searchButton--small { /*Bouton de recherche pour la version mobile*/
  font-size: 1em;
  border-radius: 15px;
  display: none;
}
/*___________FIN FORMULAIRE DE RECHERCHE___________FIN FORMULAIRE DE RECHERCHE___________FIN FORMULAIRE DE RECHERCHE___________*/

/*°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.filtersContainer,
.filter,
.filter__icone,
.filtersInfo {
  display: flex;
  align-items: center;
}

.filtersContainer {
  flex-wrap: wrap;
  margin-top: 15px;
}

.filtersList {
  padding-left: 15px;
}

.filter {
  height: 40px;
  border: 2px solid #f2f2f2;
  padding-left: 35px;
  margin-left: 30px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: background-color 1.5s ease 0.2s, border 2s ease, box-shadow 1s ease, transform 1s ease;
}

.filter:hover {
  box-shadow: 3px 3px 6px #9e9c9c;
  transform: scale(1.1);
  border: 2px solid #deebff;
  background-color: #deebff;
}

.filter__icone {
  justify-content: center;
  font-size: 1.05em;
  color: #0065fc;
  width: 20px;
  height: 20px;
  padding: 12px;
  background-color: #deebff;
  border-radius: 50%;
  position: absolute;
  left: -2px;
  transition: all 1s ease;
}

.filter:hover .filter__icone {
  left: 100%;
  transform: translateX(-95%) rotate(360deg);
  background-color: #FFFFFF;
  font-size: 1.3em;
}

.filter__headline,
.filtersContainer > h2 {
  font-size: 1em;
}

.filter__headline {
  padding: 0 20px;
  margin-left: 6px;
  transition: all 1s ease;
}

.filter:hover .filter__headline {
  transform: translateX(-35px);
}

.filtersInfo {
  width: 100%;
  margin: 15px 0 30px 8px;
}

.filtersInfo__icone {
  text-align: center;
  color: #0065fc;
  font-size: 12px;
  line-height: 12px;
  width: 12px;
  min-width: 12px;
  padding: 5px;
  border: 2px solid #f2f2f2;
  border-radius: 17px;
  margin-right: 10px;
}
/*_______________________FIN FILTRES_______________________FIN FILTRES_______________________FIN FILTRES_______________________*/


/*............Propriétés générales concernant la mise en forme des cartes hébergements et activités..........*/
.card {  /*La balise <a> (lien) étant le conteneur de chaque carte, c'est elle qui régit la mise en forme globale de la carte*/
  transition: all 0.5s ease;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 6px 4px #d9d9d9;
  border-radius: 20px;
  font-size: 0.9em;
}

.card:hover {
  transform: scale(1.05);
}
/*...........................................................................................................*/


/*°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°°*/
.accomodations {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accomodationsMainBlock,
.popularAccomodations {
  background-color: #f2f2f2;
  border-radius: 20px;
}

/*...........................Spécifique au MainBlock (Hébérgements à Marseille)...........................*/
.accomodationsMainBlock {
  width: 65%;
}

.accomodationsMainBlock > h2 {
  margin: 48px 0 22px 35px;
  font-size: 1.3em;
  font-weight: 800;
}

.accomodationsMainBlockCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 10px;
}

.accomodationsMainBlockCard{ /*La balise <a> (lien) étant le conteneur de chaque carte, c'est elle qui régit la mise en forme globale de la carte*/
  width: 30%;
  min-width: 220px;
  height: 202px;
  margin: 0 3px 30px 3px;
}

.accomodationsMainBlockCard__image {
  height: 115px;
  width: calc(100% - 10px);
  margin: 5px 5px 0 5px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.accomodationsMainBlock__showMore {
  display: block;
  margin: 11px 0 40px 38px;
  font-size: 1.1em;
  font-weight: 800;
}
/*............................................................................................................*/

/*.........................Spécifique à  PopularAccomodations (Les plus populaires)...........................*/
.popularAccomodations {
  width: 32%;
}

.popularAccomodations__headline {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 7.5% 22px 7.5%;
  font-weight: 800;
  font-size: 1.3em;
}

.popularAccomodationsCardsContainer {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
 
.popularAccomodationsCard { /*La balise <a> (lien) étant le conteneur de chaque carte, c'est elle qui régit la mise en forme globale de la carte*/
  width: 85%;
  height: 29%;
  max-height: 180px;
}

.popularAccomodationsCard > article {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.popularAccomodationsCard__image {
  width: 40%;
  height: calc(100% - 10px);
  object-fit: cover;
  margin: 5px 0 5px 5px;
  border-radius: 15px 0 0 15px;
}

.popularAccomodationsCard__textContent {
  margin-right: 10px;
  width: 50%
}

.popularAccomodationsRating {
  position: absolute;
  bottom: 20px;
  margin-left: 15px;
}
/*...........................................................................................................*/

/*............Propriétés communes à toutes les cartes de la section Accomodations (Hébergements).............*/
.accomodationCard__headline {
  margin: 10px 0 6px 15px;
  padding: 0;
  font-weight: 800;
}

.accomodationCard__price {
  margin: 0 0 6px 15px;
}

.accomodationCard__price--bold{
  font-style: normal;
  font-weight: 700;
}

.accomodationRating {
  margin-left: 13.5px;
  font-size: 0.75em;
  display: flex;
}

.accomodationRating__star--blue {
  color: #0065fc;
  margin-left: 1.5px;
}

.accomodationRating__star--grey { 
  color: #d9d9d9;
  margin-left: 1.5px;
}
/*...........................................................................................................*/
/*____________________FIN HEBERGEMENTS____________________FIN HEBERGEMENTS____________________FIN HEBERGEMENTS___________________*/


/*°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°°*/

.activities {
  margin-top: 50px;
}

.activitiesCardsContainer {
  height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.activityCard{ /*La balise <a> (lien) étant le conteneur de chaque carte, c'est elle qui régit la mise en forme globale de la carte*/
  width: 22%;
  height: 100%;
}

.activityCard > article {
  height: 100%;
}

.activityCard__image {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 60px);
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.activityCard__headline {
  margin: 12px 0 10px 15px;
  font-size: 1.1em;
}

.activityCard--height53p100 {
  height: 53%;
}

.activityCard--height37p100 {
  height: 37%;
}

.activityCard--height43p100 {
  height: 43%;
}

.activityCard--height47p100 {
  height: 47%;
}

.activity__image--BRTfilter {
  filter: brightness(120%);
}

.activityCard__image--VERToffset2p100 {
  object-position: 50% 2%;
}
/*______________________FIN ACTIVITES______________________FIN ACTIVITES______________________FIN ACTIVITES_____________________*/

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.siteFooter {
  height: 220px;
  margin-top: 50px;
  background-color: #f2f2f2;
  font-size: 0.9em;
  white-space: nowrap;
  padding-left: 20px;
}

.footerMenusContainer {
  display: flex;
  max-width: 1300px;
  margin: auto;
}

.footerMenu {
  margin: 40px 18% 0 5px;
}

.footerMenu__headline {
  padding: 0;
}

.footerMenu__list {
  padding: 0;
  flex-direction: column;
}

.footerMenu__list > li {
  padding-top: 10px;
}
/*________________________FIN FOOTER________________________FIN FOOTER________________________FIN FOOTER_______________________*/