body{
  font-family: Raleway;
}

.blocPage{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1300px;
    min-width:320px;
}

/*°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°HEADER°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.SiteHeader{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.SiteHeader__logo{
    padding-top: 30px;
    margin-right: auto;
}

.MenuList{
    display: flex;
    list-style-type: none;
    margin-top:10px;
}


.HeaderNavMenu__link, .subscribe{
    display: block;
    font-weight: 500;
    font-size: 0.9rem;
    width:140px;
    text-align: center;
    text-decoration: none;
    border-top: 2px solid white;
    color: black;
    padding-top:30px;
}

.subscribe{
    display: block;
    margin-top:10px;
    color:#0065FC; 
    font-weight: 800;
}

.HeaderNavMenu__link:hover{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}
/*________________________FIN HEADER________________________FIN HEADER________________________FIN HEADER________________________*/


/*°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°FORMULAIRE DE RECHERCHE°°°°°°°°°°°°°°°*/
.SearchForm__headline{
    font-size: 1.1rem;
    margin:30px 0 0 0;
}

.SearchForm__subhead{
    margin:7px 0 16px 0;
    font-size: 0.78rem;
}

.SearchFunction{
    display:flex;
    height: 42px;
}

.SearchForm__searchButtonMobileVersion{
  display: none;
}

.InputBlock{
    display: flex;
    border:1px solid #F2F2F2 ;
    border-radius: 15px 0 0 15px;
    text-align: center;
    align-items: center;
}

.InputBlock__icone{
    background-color: #F2F2F2;
    width: 45px;
    height: 30px;
    border-radius: 15px 0 0 15px;
    padding-top: 12px;
}

.InputBlock__EntryField{
    outline: none;
    font-family: Raleway;
    font-weight: 800;
    font-size: 0.85em;
    border:none;
    margin:1px 0 1px 0;
    padding-left: 17px;

}

.InputBlock__EntryField::placeholder {
    color: black;
    opacity: 1;
}

.SearchForm__SearchButton{
    cursor: pointer;
    outline: none;
    background-color:#0065FC;
    color: white;
    padding:0 18px 0 18px;
    font-family: Raleway;
    font-weight: 600;
    border: none;
    border-radius:0 15px 15px 0;
}
/*___________FIN FORMULAIRE DE RECHERCHE___________FIN FORMULAIRE DE RECHERCHE___________FIN FORMULAIRE DE RECHERCHE___________*/


/*°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°FILTRES°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

.filters__menu{
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 15px;
}

.filtersItem{
    height: 35px;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    padding-left: 35px;
    margin-left: 30px;
    border-radius: 20px;
    cursor:pointer;
    position: relative;
    transition: background-color 1.5s ease .2s, border 2s ease, box-shadow 1s ease, transform 1s ease;
}

.filtersItem:hover  {
  box-shadow: 3px 3px 6px rgb(158, 156, 156);
  transform:scale(1.1);
  border: 2px solid #DEEBFF;
  background-color:#DEEBFF;
}

.filtersItem:hover .filtersItem__icone{
  left:100%;
  transform: translateX(-95%) rotate(360deg);
  background-color: white;
  font-size: 20px;
}

.filtersItem:hover .filtersItem__headline{
  transform: translateX(-35px);
}

.filtersItem__icone{
    position: absolute;
    left: -2px;
    color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    padding:11px;
    background-color:#DEEBFF;
    border-radius: 50%;
    transition:all 1s ease;
  }
  
  .filtersItem__headline{
    padding-left: 10px;
    padding-right: 10px;
    transition: all  1s ease;
  }

  .filters__headline{
    font-size: 1rem;
    margin-left: 8px;
  }

  .filtersInfo{
    width:100%;
    display: flex;
    align-items: center;
    margin:15px 0 30px 8px;
  }

  .IconeInfo{
    text-align: center;
    color:#0065FC;
    font-size: 12px;
    height: 12px;
    width: 12px;
    padding: 5px;
    border: 2px solid #F2F2F2;
    border-radius:17px;
    margin-right: 10px;
  }
/*_______________________FIN FILTRES_______________________FIN FILTRES_______________________FIN FILTRES_______________________*/


/*°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°HEBERGEMENTS°°°°°°°°°°°°°°°°°°°°°°°*/
.cardLink{
  height:inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.cardLink:hover{
  transform:scale(1.1);
}


  .accomodations{
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  width: 100%;
  }

  .allAccomodationsArticles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .allAccomodations{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    height: auto;
  }

  .popularAccomodations{
    background-color: #F2F2F2;
    width: 32%;
    height: auto;
    border-radius: 20px;
  }

  .allAccomodationsCard{
    background-color: white;
    width:235px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 4px #d9d9d9;
  }

  .accomodationRating__star--blue{
    color:#0065FC;
    margin-left:1.5px;
  }

  .accomodationRating__star--grey{
    color:#d9d9d9;
    margin-left:1.5px;
  }

  .accomodationRating{
      margin-left: 13.5px;
      font-size:0.75rem;
      display: flex;
  }

  .allAccomodationsCard__image{
    height:115px;
    width:225px;
    margin: 5px 5px 0 5px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .accomodationCard__headline{
      margin:10px 0 6px 15px;
      padding:0;
      font-weight: 800;
  }

  .accomodationCard__price{
      margin:0 0 6px 15px;
  }

  .allAccomodations__headline{
      margin: 48px 0 22px 35px;
      font-weight: 800;
      font-size: 1.5rem;
  }

  .allAcommodations__showMore{
    font-weight: 800;
    margin-left: 38px;
    margin-top:11px;
    font-size: 1.1rem;
    font-weight: 800;
  }

  .popularAccomodations__headline{
    display: flex;
    justify-content: space-between;
    margin: 48px 35px 22px 35px;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .popularAccomodationsCard__image{
    width:125px;
    height:131px;
    object-fit: cover;
    margin:5px 0 5px 5px; 
    border-radius: 15px 0 0 15px;
  }

  .popularAccomodationsCard{
    background-color: white;
    width:336px;
    height:141px;
    display: flex;
    margin-bottom:33px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 4px #d9d9d9;
  }

  .popularAccomodationsArticles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .popularAccomodationsRating{
    margin-top: 45px;
  }

  .popularAccomodationsCard_textContent{
    width:200px;
  }

  /*____________________FIN HEBERGEMENTS____________________FIN HEBERGEMENTS____________________FIN HEBERGEMENTS___________________*/


  /*°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°ACTIVITES°°°°°°°°°°°°°°°°°°°°°°°°°°*/

  
  .activities{
    width:100%;
    margin-top: 50px;
  }

  .activities__articles{
    height:450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .activityCard{
    width: 285px;
    height: 100%;
    box-shadow: 2px 2px 6px 4px #d9d9d9;
    border-radius: 15px;
  }

  .activityCard__image{
    width: 100%;
    height: 100%;
    max-height: calc(100% - 60px);
    object-fit:cover;
    border-radius: 15px 15px 0 0;
  }

  .activityCard__headline{
    margin:18px 0 0 15px;
    font-size: 1rem;
  }

  .activityCard--ht53p100{
    height:53%;
  }

  .activityCard--ht37p100{
    height:37%
  }

  .activityCard--ht100p100{
    height:100%
  }

  .activityCard--ht43p100{
    height:43%;
  }

  .activityCard--ht47p100{
    height:47%
  }

  .activity__image--BRTfilter{
    filter: brightness(120%);
  }

  .activityCard__image--VERToffset2p100{
  object-position:50% 2%;
  }
/*______________________FIN ACTIVITES______________________FIN ACTIVITES______________________FIN ACTIVITES_____________________*/


/*°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°FOOTER°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
.siteFooter{
  background-color: #F2F2F2;
  margin-top: 50px;
  height:220px;
  font-size: 0.9rem;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}

.footerSectionBloc{
  display: flex;
  max-width: 1300px;
  margin:auto;
}

.FooterSection{
  margin:40px 20% 0 0;
}

.FooterSectionList{
  list-style-type: none;
  padding: 0;
}

.FooterSection__headline{
  padding:0;
}

.FooterSectionList__item{
  padding-top: 10px;
}
/*________________________FIN FOOTER________________________FIN FOOTER________________________FIN FOOTER_______________________*/