.BlocPage{
    margin: auto;
    width: 90%;
    max-width: 1400px;;
    font-family: Raleway;
}

/*--------------------HEADER--------------------*/

.SiteHeader{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.SiteHeader__logo{
    padding-top: 30px;
}

.MenuList{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.HeaderNavMenu__link{
    display: block;
    font-weight: 500;
    font-size: 0.7rem;
    width:140px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top:30px;
}

.HeaderNavMenu__link--BlueBold{
    color:#0065FC; 
    font-weight: 800;
}

.HeaderNavMenu__link:hover{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}

/*--------------------FIN HEADER---------------------*/

/*--------------------FORMULAIRE DE RECHERCHE-------------------*/

.SearchForm__headline{
    font-size: 1.13rem;
    margin:30px 0 0 0;
}

.SearchForm__subhead{
    margin:7px 0 16px 0;
    font-size: 0.78rem;
}

.SearchFunction{
    display:flex;
    width: 420px;
    height: 45px;
}

.InputBlock{
    display: flex;
    background-color:#F2F2F2 ;
    border-radius: 15px 0 0 15px;
}

.InputBlock__icone{
    width: 45px;
    text-align: center;
    align-self: center;
}

.InputBlock__EntryField{
    font-family: Raleway;
    font-weight: 750;
    font-size: 1rem;
    border:none;
    margin:1px 0 1px 0;
    padding-left: 17px;
}

.InputBlock__EntryField::placeholder {
    color:black;
    opacity: 1;
}

.SearchForm__SearchButton{
    background-color:#0065FC;
    padding:0 18px 0 18px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
    border: none;
    border-radius:0 15px 15px 0;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

.filters__menu{
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 15px;
}

.filters__item{
    height: 35px;
    display: flex;
    align-items: center;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
    border-left: none;
    margin-left: 20px;
    border-radius: 40px;

}

.filters__icone{
    width: 18px;
    height: 18px;
    padding:10.5px;
    background-color:#DEEBFF;
    border-radius: 40px;
    position:relative;
    right:2px;
    
  }

  h3{
    padding-left: 10px;
    padding-right: 10px;
  }

  .filters__headline{
    font-size: 1rem;
    margin-left: 8px;
  }

  .filters__info{
    width:100%;
    display: flex;
    align-items: center;
    margin:15px 0  30px 8px;
  }

  .IconeInfo{
    height: 10px;
    width: 10px;
    padding: 5px;
    border: 2px solid #F2F2F2;
    border-radius:17px;
    margin-right: 10px;
  }

/*=============================================ACCOMODATIONS=============================================*/

  .accomodations{
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
  }

  .allAccomodationsArticles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .allAccomodations{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 880px;
    height: 625px;
  }

  .popularAccomodations{
    background-color: #F2F2F2;
    width: 420px;
    height: 625px;
    border-radius: 20px;
  }

  .allAccomodationsCard{
    background-color: white;
    width:247px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 4px #d9d9d9;
  }

  .accomodationRating__star--blue{
    color:#0065FC;
    margin-left:1.5px;
  }

  .accomodationRating__star--grey{
    color:#d9d9d9;
    margin-left:1.5px;
  }

  .accomodationRating{
      margin-left: 13.5px;
      font-size:0.75rem;
      display: flex;
  }

  .allAccomodationsCard__image{
    height:115px;
    width:235px;
    object-fit: cover;
    margin:5px 5px 0 5px;
    border-radius: 15px 15px 0 0;
  }

  .accomodationCard__headline{
      margin:10px 0 6px 15px;
      padding:0;
      font-weight: 800;
  }

  .accomodationCard__price{
      margin:0 0 6px 15px;
  }

  .allAccomodations__headline{
      margin: 48px 0 22px 35px;
      font-weight: 800;
      font-size: 1.5rem;
  }

  .allAcommodations__showMore{
    font-weight: 800;
    margin-left: 38px;
    margin-top:11px;
    font-size: 1.1rem;
    font-weight: 750;
  }

  .popularAccomodations__headline{
    display: flex;
    justify-content: space-between;
    margin: 48px 35px 22px 35px;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .delete{
    height: 200px;
  }

  .popularAccomodationsCard__image{
    width:127px;
    height:134px;
    object-fit: cover;
    margin:5px 0 5px 5px; 
    border-radius: 15px 0 0 15px;
  }

  .popularAccomodationsCard{
    background-color: white;
    width:343px;
    height:144px;
    display: flex;
    margin-bottom:33px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 4px #d9d9d9;
  }

  .popularAccomodationsArticles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  

  .popularAccomodationsRating{
    margin-top: 45px;
  }

  .popularAccomodationsCard_textContent{
    width:200px;
  }

  /*=============================================ACTIVITIES=============================================*/

  .activities__articles{
    height:450px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .activityCard{
    width: 302px;
    box-shadow: 2px 2px 6px 4px #d9d9d9;
    border-radius: 15px;
  }

  .activityCard__image{
    width: 100%;
    height: 100%;
    max-height: calc(100% - 60px);
    object-fit:cover;
    border-radius: 15px 15px 0 0;
  }

  .activityCard--ht53p100{
    height:53%;
  }

  .activityCard--ht37p100{
    height:37%
  }

  .activityCard--ht100p100{
    height:100%
  }

  .activityCard--ht43p100{
    height:43%;
  }

  .activityCard--ht47p100{
    height:47%
  }

  .activity__image--BRTfilter{
    filter: brightness(120%);
  }

  .activityCard__image--VERToffset2p100{
  object-position:50% 2%;
  }

 


